<?xml version="1.0" encoding="UTF-8"?>
<suite name="Register and Login Account Test Suite" >
    <listeners>
        <listener class-name="baseTest.Listener"/>
    </listeners>

    <test name="Register Testcases">

        <classes>
            <class name="testcases.RegisterTest"/>
            <class name="testcases.RegisterE2ETest"/>
            <class name="testcases.LoginTest"/>
            <class name="testcases.ForgotPasswordTest"/>
            <class name="testcases.LoginE2ETest"/>
            <class name="testcases.SearchTest"/>
            <class name="testcases.SearchTest"/>
            <class name="testcases.ProductsOrderTest"/>
        </classes>
    </test>

</suite>


